<footer class="footer">
  <small>
    <p>Meower - Bringing all cat lovers together since 2017</p>
  </small>

<nav>
  <ul>
    <%= link_to 'About', pages_about_path %></li>
    <%= link_to 'Contact', pages_contact_path %></li>
  </ul>
</nav>

</footer>